/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
.vs/
.idea/
packages/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
build.js
nunit_random_seed.tmp
*.DotSettings
/Mods/SeedFinder/v1.5/Assemblies/System.dll
/Mods/SeedFinder/v1.5/Assemblies/System.Core.dll
/Mods/SeedFinder/v1.5/Assemblies/mscorlib.dll
